[submodule "tappy-original"]
	path = tappy-original
	url = git@github.com:DeMaCS-UNICAL/tappy-original.git
[submodule "tapsterbot-original"]
	path = tapsterbot-original
	url = git@github.com:DeMaCS-UNICAL/tapsterbot-original.git
[submodule "tapster-3-original"]
	path = tapster-3-original
	url = git@github.com:DeMaCS-UNICAL/tapster-3-original.git
