mahotas==1.4.*
numpy==1.24.*
networkx==3.*
requests==2.28.*
matplotlib==3.3.*
pip==21.1.*
py-opencv==4.7.*
antlr4-python3-runtime==4.7.*  # can be taken from carta channel
#opencv-python-headless==4.7.*  can be taken from fastai channel
#  OR use the two packages
## opencv-python==4.7.*
## opencv-contrib-python==4.7.*


